*{
    margin: 0;
    padding: 0;
}

#hero_title {
text-align: center;
color: darkblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#concert_image {
 height: 99vh;
        width: 99vw;
        position:fixed;
        top:1;
        left:0;
}


.month-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.month-card{
    text-align: left;
    background-color: aquamarine;
    width: 500px;
    height: 400px;
    margin-left: 10px;
    margin-top: 40px;
}

.month{
    display: inline;
    font-size: 40px;
}

.dropdown{
    height: 20px;
    display: inline;
    background-color: transparent;
    font-size: 28px;
    padding-bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.january{
    background-color: rgb(219, 152, 219);
}

.february{
    background-color: rgb(245, 237, 122);
}

.march{
    background-color: rgb(182, 182, 248);
}