/* set variables */
:root {
  --purpleColor: rgba(117, 85, 190, 0.8);
}

/* sets default browser sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set the name Calevent size and where it is placed. */
.appName {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: auto;
  align-items: center;
}

/* Changes the event part of the name Calevent to desired color */
.appNameDecoration {
  color: var(--purpleColor);
}

/* sets the navbar background and the box shadow */
nav {
  background-color: white;
  box-shadow: 4px 4px 5px rgba(46, 46, 46, 0.2);
}

/* sets the ul to flex and justify content to end on the right with no list style bullet points */
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

/* aligning the lists and removed the underline link decoration */
nav li {
  height: 70px;
  align-items: center;
  padding: 0 20px;
  display: flex;
  text-decoration: none;
}

/* changed the color of the link to black and flex aligned them center */
nav a {
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

/* hover effect for it to go purple and underlined to the same color */
nav a:hover {
  color: var(--purpleColor);
  text-decoration: underline;
  text-decoration-style: var(--purpleColor);
  text-underline-offset: 8px;
}

/* setting the search form to be flex and center */
nav li form {
  display: flex;
  align-items: center;
}

/* setting color of the placeholder */
.search-container input::placeholder {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.9);
}

/* setting properties when the sidebar is active */
.sidebar {
  position: fixed;
  min-height: 450px;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -2px 0px 8px rgb(163, 163, 163);
  display: none;
  flex-direction: column;
  backdrop-filter: blur(40px);
}

/* puts the X icon to the right */
.cross-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* setting the burger icon to be not displayed and only active through JS */
.burger-icon {
  display: none;
}

/* changing the cursor */
.sidebar svg {
  cursor: pointer;
}

/* changing form of the search that covers the input field to the color and rounded off edges */
.search-bar {
  width: 100%;
  background: rgba(117, 85, 190, 0.5);
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px 10px;
}

/* making the actual input field transparent */
.search-bar input {
  width: 100%;
  display: flex;
  background: transparent;
  outline: none;
  border: none;
}

/* desgin and rounding of the search button */
.search-bar button {
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#hero_title {
  text-align: center;
  color: lightgreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#concert_image {
  height: 99vh;
  width: 99vw;
  position: fixed;
  top: 1;
  left: 0;
}

/* carousel css*/

.carousel{
  display: flex;
  height: 600px;
  margin-top: 100px;
}

.hide{
  display: none  !important;
}

.carousel-title{
  width: 100%;
  font-size: 40px;
  text-align: center;
  position: absolute;
  margin-top: -70px;
}

.carousel-right-button, .carousel-left-button{
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  align-self: center;
  background-color: rgba(56, 56, 56, 0.3);
  cursor: pointer;
  z-index: 2;
  border: none;
}

.carousel-left-button{
  left: 20px;
}

.carousel-right-button{
  right: 20px;
}

.carousel-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgb(177, 155, 226);
  flex: 1;
}

.carousel-card-image{
  align-self: center;
}

.carousel-detail{
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.save-event-detail{
  position: relative;
  top: 190px;
  width: 160px;
  align-self: center;
  color: white;
  background-color: black;
  border: none;
  padding: 9px 14px;
  border-radius: 20px;
}

#carousel-2{
background-color: aquamarine;
}

#carousel-3{
background-color: brown;
}

#carousel-4{
background-color: bisque;
}

.carousel-dot-container{
list-style: none;
display: flex;
flex-direction: row;
position: absolute;
align-self: flex-end;
padding: 0;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}

.carousel-dot{
margin: 0;
margin-right: 7px;
margin-left: 7px;
align-self: center;
background-color: rgba(56, 56, 56, 0.6);
width: 10px;
height: 10px;
border-radius: 50%;
}

.carousel-active-dot{
width: 10px;
height: 10px;
background-color: black;
}
/*carousel css ends here */

/* the row to the form and search results to flex */
.search-results-row {
  display: flex;
}

/* setting the sizing and the color of the advance search box */
.advance-search-container {
  background: linear-gradient(
    130deg,
    rgb(246, 232, 255),
    rgba(65, 175, 209, 0.452)
  );
  max-width: 300px;
  width: 100%;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(204, 204, 204, 0.61);
}

/* sizing of the title of the form and properties so the underline works */
.form-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 3px;
  position: relative;
}

/* the underlining element underneath the title */
.form-title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 140px;
  bottom: 0;
  background: linear-gradient(to right, var(--purpleColor), rgb(107, 199, 230));
}

/* sets spacing between the columns in the form */
.advance-search-container form .user-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0 8px 0;
}

/* gives margin to the label */
.details {
  margin-bottom: 5px;
  font-weight: 500;
}

/* margin bottom on the input field so gives spacing between next line */
form .user-inputs .input-field {
  margin-bottom: 15px;
}

/* sets the input field and the border to it with transition when it is in focus*/
.user-inputs .input-field input {
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  padding-left: 10px;
  border-width: 0 0 2px 2px;
  transition: all 0.3s ease-in-out;
}

/* highlights the border when user is in that input box */
.user-inputs .input-field input:focus {
  border-color: var(--purpleColor);
}

.meme-table {
  display: flex;
  margin: 20px 20px;
}

.results-table {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

/* hides the sidebar when it is under 950px and then displays the burger icon */
@media (max-width: 950px) {
  .hide-nav-bar {
    display: none;
  }
  .burger-icon {
    display: block;
  }
}
/* turns the sidebar to 100% when it is blow 500px */
@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}

#attraction-panel {
  display:none;
}
